/*--------------*\
| style
\*--------------*/

/*------------------*\
| Copyright 2024 - CJ
\*------------------*/


/*-------------------------*\
| Propriedades customizadas
\*-------------------------*/


:root {
    /*Color*/
    --verdeA: #2EA9A2;
    --azul: #0095FF;
    --sim: #005471;
    --azuldark: #336181;
    --azulmaisdark: #003D68;
    --verdedark: #0D3B38;
    --black: #1E1E1E;
    --branco: #FFFFFF;
    
 
 
 
    /*Tipografia*/
    --ff-aclonica: font-family: "Aclonica", system-ui;
    --ff-poppins: font-family: "Poppins", system-ui;
 
 
    /*4x16px */
 
    --fs-40: 4rem;
    --fs-30: 3rem;
    --fs-24: 2.4rem;
    --fs-18: 1.8rem;
    --fs-14: 1rem;
    --fs-12: 1.3rem;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
 
    /*Espaço*/
    --section-padding: 80px;
 
    /*Borda*/
    --radius-5: 5px;
    --radius-8: 8px;
 
    /*Sombra*/
    --shadow-1: 10px 0 60px hsla(0, 0%, 13%, 0.342);
    --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.603);
 
    /*Transição*/
    --transition-1: 0.25s ease;
    --transition-2: 0.50s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
 
 }
 
 body {
   margin: 0px;
   padding: 0px;
 
 }

/* NAVBAR */

header {
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: white;
}


.logo img {
   width: 90px;
   height: 90px;

}


.nav-list {
   font-family: " Poppins ", system-ui;
   list-style: none;
   display: flex;
   gap: 100px;
   font-size: 20px;
}

.nav-item :hover{
   color: var(--azulmaisdark);
   transition: 0.5s;
   font-family: "Poppins", sans-serif;
   border-bottom: 1px var(--azuldark);
}


.nav-link {
   color: var(--azul);
   text-decoration: none;
}


/* CURIOSIDADES */
 
.titu-curiosidades {
   font-family: "Aclonica", sans-serif;
   font-size: 120px;
   margin-top: 150px;
  text-transform: uppercase;
}

/* BANNER */

 .banner {
     background-image: url(../img/banner.png);
     width: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     object-fit: cover;
     
 }
 
 .banner h1{
     color: var(--branco);
     font-size: 100px;
 }
 
 .card{
     background-color: var(--branco);
     padding: 10px;
     font-family: " Poppins ", sans-serif;
 }
 
 /*Card 1*/
 
 .texto1{
     text-align: center;
     color:var(--azul);
     font-size: 30px;
     font-weight: bold;    
    font-family: "Aclonica", sans-serif;
    
 }
 
 .img-texto1{
    display: flex;
    gap: 100px;
    color: az;
    align-items: center;
    font-weight: bold;
 }
 
 .info1{
     display: flex;
     font-size: 25px;
     color: var(--azul-calro);
     margin-bottom: 50px;
     margin-left: 20px; 
     
 }
 
 .img-card1 img{
     max-width: 550px;
     border-radius: 15px;
     margin-left: 100px;
     margin-bottom: 79px;
     height: 360px;
 }
 
 /*img*/
 .img-repass{
     background-image: url(../img/banner2.png);
     width: 100%;
     height: 250px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     object-fit: cover; 
 }
 
 
 
 .card{
     background-color: var(--branco);
     padding: 10px;
     font-family: " Poppins ", sans-serif;
 }
 
 /*Card 2*/
 
 .texto2{
     text-align: center;
     color:var(--azul);
     font-size: 30px;
     font-weight: bold;    
     margin-left: 250px;
    font-family: "Aclonica", sans-serif;
    
 }
 
 .img-texto2{
     flex-direction: row-reverse;
    display: flex;
    margin-inline: auto;
    gap: 100px;
    color: az;
    align-items: center;
    font-weight: bold;
 }
 
 
 .img-card2 img{
     max-width: 550px;
     border-radius: 15px;
     margin-left: 80px;
     margin-bottom: 70px;
     margin-right: 98px;
 }
 
 .info2{
    display: flex;
    font-size: 25px;
    color: var(--azul-calro);
    margin-bottom: 50px;
    margin-left: 40px; 
    margin-top: 20px;  
    font-family: " Poppins ", sans-serif;
 }
 
 
 
 /*img2*/
 .img-repass2{
     background-image: url(../img/banner2.png);
     width: 100%;
     height: 250px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     object-fit: cover;
 }


.card-p2 {
  margin-right: 600px;
}


 .video-card2 {
      margin-right: 900px;
 }
 
 


 footer {
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-evenly ;
   font-family: "Aclonica",sans-serif; 
   background-color: #003D68;
   color: var(--branco);
}

.copyright-footer,
.redes-footer,
.contato-footer {
   width: 486px;
   height: 323px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.copyright-footer {
   width: auto;
}

.logo-footer {
   width: 300px;
}

.titulo-footer {
   color: white;
   text-align: center;
   font-size: var(--fs-30);
   text-transform: uppercase;
}

.icons-footer {
   margin-top: 30px;
   display: flex;
   gap: 21px;
   font-size: 45px;
   list-style: none;
}

.icons-footer :hover {
   transition: var(--transition-1);
} 

.icons {
   color: white;
}

.face-icons :hover {
   transition: var(--transition-1);
   color: #0095FF;
}

.whats-icons :hover {
   transition: var(--transition-1);
   color: green;
}

.insta-icons :hover {
   transition: var(--transition-1);
   color: pink;
}


.contato-list {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   gap: 16px;
   list-style: none;
}
 


